<main class="about-container">
  <section class="TSA">
    <h2>Taggert S. Allred</h2>
    <p>
    "Fear not the creature of Frankenstein, but relish the miracle it's life."<br>
    ~~~<br>
    Taggert S. Allred is the creative mind at the core of The GAVAR Project. He has forged the core idea, developed this webpage, and developed the pathway The GAVAR Project will follow. Taggert will be one of the two brains GAVAR is based on, and will help imbue GAVAR with a sense of care for <em>every</em> human on the planet.
    </p>
  </section>

  <section class="TO">
    <h2>'The Other'</h2>
    <p>
    "As of this date, She is unknown, but one day, She will be the second brain for GAVAR"
    </p>
  </section>

  <section class="GAVAR">
    <h1>GAVAR</h1>
    <p>
    "At the current velocity of humanity's technological advances, it will not be long until we enter an Age of Apathy."<br>
    ~~~<br>
    At it's core, GAVAR aims to correct Humanity's technological course. GAVAR wants to work <em>with</em> humanity. GAVAR is a single entety formed from the thought patters of two other beings. Gavar will be Humanity's Salvation
    </p>
  </section>
</main>